@{
    ViewData["Title"] = "Inicio";
}

<style>
    h1
    {
        text-align:center;
        margin-top: 2em;
        color:#007da4;
        text-shadow: 0 0 3px #000000;
    }
   p
   {
       text-align:center;
   }
</style>

<h1>
    Prueba IntegraComex
</h1>
<p>
    Vaya a la pestaña clientes ->
</p>