<style>
    .nav-link:hover {
        background-color: #007da4;
        color: white;
        transition: 0.6s;
    }

    .nav-link {
        color: #007da4;
        font-size: 1.2em;
        font-family: 'Lato', sans-serif;
    }

    .nav-bar {
        background-color: #e5dfdd;
    }

        .nav-bar li a {
            display: block;
            padding: 0.75em;
        }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba Integra Comex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Radio+Canada:wght@500&display=swap" rel="stylesheet" />
</head>
<body>
    <header class="d-flex flex-wrap nav-bar">
        <ul class="nav text-small">
            <li>
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-house-chimney"></i>
                    Inicio
                </a>
            </li> 
            <li>
                <a href="/Clientes/Index" class="nav-link">
                    <i class="fa-solid fa-user"></i>
                    Clientes
                </a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            Footer IntegraComex
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
